header {
  position: fixed;
  top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: rgb(216, 150, 84);
  z-index: 1;
}
.nav-left {
  float: left;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;
}
.nav-middle {
  float: left;
  margin-left: 12%;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-right {
  overflow: hidden;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;
}
.nav-left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-left li {
  float: left;
}

.nav-left li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}
.nav-middle a {
  text-decoration: none;
  color: firebrick;
  font-weight: bold;
  font-family: "Tangerine", serif;
  font-size: 50px;
}
.nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(216, 150, 84);
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-right li {
  float: right;
}
.nav-right li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}
#homepic {
  margin: 0;
  padding: 0;
  height: 650px;
  min-width: 100%;
  background-size: 100% 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 0;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.searchtype {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: transparent;
}
.searchtype:focus {
  color: black;
}
.searchbutton {
  width: 90px;
  height: 36px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
fieldset {
  background-color: firebrick;
  border: none;
  text-align: center;
  font-size: 20pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
#submit {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1::before {
  content: "";
  position: relative;
  border-top: 3px dotted peru;
  display: block;
  width: 25rem;
  margin-left: 10%;
 /* height: 2px;
  left: -25.375rem;
  top: 54%;*/
}
h1::after {
  content: "";
  border-top: 3px dotted peru;
  width: 25rem;
  height: 2px;
  display: block;
  float: right;
  margin-right: 10%;
  
  /*left: -25.375rem;
  top: 54%;*/
}
h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }
.latesthead {
  margin: 0 0 20px;
  display: table;
  width: 100%;
}
.latest span {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.latest span p {
  border-top: 2px dotted peru;
  display: block;
  margin: 0%;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}
table td a {
  text-decoration: none;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;
}
table img {
  width: 340px;
  height: 390px;
}
#tea {
  height: 350px;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  border-color: firebrick;
  border-radius: 70%;
}
#claire {
  text-align: left;
}
hr {
  border-top: 10px solid firebrick;
}
.emailbar {
  width: 100%;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
#email {
  width: 350px;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
#email:focus {
  color: black;
}
#submit {
  width: 90px;
  height: 36px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#claires {
  margin-left: 17%;
  margin-right: 17%;
  height: 450px;
}
footer {
  background-color: rgb(216, 150, 84);
  bottom: 0%;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
footer h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
#ftitle {
  font-size: 23pt;
  font-weight: bold;
}
.end {
    margin-left: 10%;
    margin-right: 10%;
}
.foot {
    padding: 10px;
    width: 122px;
    margin-left: 12px;
    margin-top: 13px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}
#foot1 {
    width: 400px;

}
#foot2 {
    width: 200px;
}
#foot3 {
    width: 200px;
}
#foot4 {
    width: 200px;
}
